body
{
    background-image: url(fon1.jpg);
    background-size: cover;
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
}
h1
{
    text-align: center;
    font-family: 'Monotype Corsiva';
    font-size: 24px;
    font-weight: bold;
    text-decoration-line: underline;
}
.text {
    border: 2px solid blue;
    background: #ffd800;
    font-family: Arial;
    font-size: 30px;
    width: 500px;
    margin-left: 400px;
}
.image
{
    margin-left: 50px;
    margin-top: -270px;
}
img
{
    width: 300px;
    height: auto;
}